<div class="row">
    <div class="col-6">
        {{#each burgers}}
        <div>
            <form action="/devour" method="POST">
                <p class="pTag">{{this.id}}. {{this.burger_name}}</p>
                <input type="hidden" value="{{this.id}}" name="burger">
                <button type="submit" data-planid="{{this.id}}" class="devourButton">Eat this burger</button>
            </form>
        </div>
        {{/each}}
    </div>
    <div class="col-6">
        {{#each eatenBurgers}}
        <div>
            <form action="/devour" method="POST">
                <p class="pTag">{{this.id}}. {{this.burger_name}}</p>
                {{!-- <button type="submit" data-planid="{{this.id}}" class="devourButton">Eat this burger</button> --}}
            </form>
        </div>
        {{/each}}
    </div>
</div>